* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #002a41;
    font-family: 'Delicious Handrawn', cursive;
}

.container {
    height: 100vh;
    padding-top: 4rem;
    text-align: center; 
}

h3{
    color: #d4216c;
    font-size: 3.5rem;
    font-weight: lighter;
}

.accent-color {
    color: #a5d534;
    
}

.output {
    color: #fff;
    font-size: 2rem;
    padding-top: 1rem;
}

input {
    margin: 1.5625rem;
    width: 8rem;
    text-align: center;
    font-family: inherit;
    font-size: 3.5rem;
    border-radius: 5px;
}

button {
    width: auto;
    height: auto;
    padding: 1rem;
    border-radius: 5px;
    font-family: inherit;
    font-size: 1.5rem;
}

button:hover {
    background-color: #b4b2b2;
}

button:active {
    background-color: #a5d534;
}
